<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="ajax username availability checker php, live username availability checking using ajax, password strength indicator" />
	<meta name="description" content="Ajax live username availability checker using PHP MySql. Code for check live username availability and password strength indicator" />
	<title>Live username availability checking using Ajax jQuery PHP and password strength indicator</title>
	<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
	<script src="http://code.angularjs.org/1.2.6/angular.js"></script>
	<script src="js/app.js"></script>
	<script type="text/javascript">

	$(document).ready(function(){
		
		$('#username').keyup(function(){ // Keyup function for check the user action in input
		
		var Username = $(this).val(); // Get the username textbox using $(this) or you can use directly $('#username')
		var UsernameAvailResult = $('#username_avail_result'); // Get the ID of the result where w
		
		if(Username.length > 2) { // check if greater than 2 (minimum 3)
			
			UsernameAvailResult.html('Loading..'); // Preloader, use can use loading animation here
			var UrlToPass = 'action=username_availability&username='+Username;
			$.ajax({ // Send the username val to another checker.php using Ajax in POST menthod
			type : 'POST',
			data : UrlToPass,
			url  : 'checker.php',
			success: function(responseText){ // Get the result and asign to each cases
				if(responseText == 0){
					UsernameAvailResult.html('<span class="success">Username name available</span>');
					
				}
				else if(responseText > 0){
					UsernameAvailResult.html('<span class="error">Username already taken</span>');
					
				}
				else{
					alert('Problem with sql query');
				}
			}
			});
		}else{
			UsernameAvailResult.html('Enter atleast 3 characters');
		}
		if(Username.length == 0) {
			UsernameAvailResult.html('');
		}
	});
	
	$('#email').keyup(function(){ // Keyup function for check the user action in input
		var Email = $(this).val(); // Get the username textbox using $(this) or you can use directly $('#username')
		var EmailAvailResult = $('#email_avail_result'); // Get the ID of the result where w
		
		if(Email.length > 2) { // check if greater than 2 (minimum 3)
			
			EmailAvailResult.html('Loading..'); // Preloader, use can use loading animation here
			var UrlToPass = 'action=email_availability&email='+Email;
			$.ajax({ // Send the username val to another checker.php using Ajax in POST menthod
			type : 'POST',
			data : UrlToPass,
			url  : 'checker.php',
			success: function(responseText){ // Get the result and asign to each cases
			alert(responseText);
				if(responseText == 0){
					EmailAvailResult.html('<span class="success">Email name available</span>');
					
				}
				else if(responseText > 0){
					EmailAvailResult.html('<span class="error">Email already taken</span>');
					
				}
				else{
					alert('Problem with sql query');
				}
			}
			});
		}else{
			EmailAvailResult.html('Enter atleast 3 characters');
		}
		if(Email.length == 0) {
			EmailAvailResult.html('');
		}
	});
	
	
	
	
	$('#password, #username').keydown(function(e) { // Dont allow users to enter spaces for their username and passwords
		if (e.which == 32) {
			return false;
  		}
	});
	$('#password').keyup(function() { // As same using keyup function for get user action in input
		var PasswordLength = $(this).val().length; // Get the password input using $(this)
		var PasswordStrength = $('#password_strength'); // Get the id of the password indicator display area
		
		if(PasswordLength <= 0) { // Check is less than 0
			PasswordStrength.html(''); // Empty the HTML
			PasswordStrength.removeClass('normal weak strong verystrong'); //Remove all the indicator classes
		}
		if(PasswordLength > 0 && PasswordLength < 4) { // If string length less than 4 add 'weak' class
			PasswordStrength.html('weak');
			PasswordStrength.removeClass('normal strong verystrong').addClass('weak');
		}
		if(PasswordLength > 4 && PasswordLength < 8) { // If string length greater than 4 and less than 8 add 'normal' class
			PasswordStrength.html('Normal');
			PasswordStrength.removeClass('weak strong verystrong').addClass('normal');			
		}	
		if(PasswordLength >= 8 && PasswordLength < 12) { // If string length greater than 8 and less than 12 add 'strong' class
			PasswordStrength.html('Strong');
			PasswordStrength.removeClass('weak normal verystrong').addClass('strong');
		}
		if(PasswordLength >= 12) { // If string length greater than 12 add 'verystrong' class
			PasswordStrength.html('Very Strong');
			PasswordStrength.removeClass('weak normal strong').addClass('verystrong');
		}
	});
});
</script>
<style type="text/css">
body{
	margin: 0;
	padding: 0;
	font-family: arial;
	color: #2C2C2C;
	font-size: 14px;
}
h1 a{
	color:#2C2C2C;
	text-decoration:none;
}
h1 a:hover{
	text-decoration:underline;
}
.as_wrapper{
	margin: 0 auto;
	width: 1000px;
}
.mytable{
	margin: 0 auto;
	padding: 20px;
	border:2px dashed #17A3F7;
}
.success{
	color:#009900;
}
.error{
	color:#F33C21;
}
.talign_right{
	text-align:right;
}
.username_avail_result{
	display:block;
	width:180px;
}
.password_strength {
	display:block;
	width:180px;
	padding:3px;
	text-align:center;
	color:#333;
	font-size:12px;
	backface-visibility:#FFF;
	font-weight:bold;
}
/* Password strength indicator classes weak, normal, strong, verystrong*/
.password_strength.weak{
	background:#e84c3d;
}
.password_strength.normal{
	background:#f1c40f;
}
.password_strength.strong{
	background:#27ae61;
}
.password_strength.verystrong{
	background:#2dcc70;
	color:#FFF;
}
</style>

</head>

<body>
<div class="as_wrapper">
	<h1><a href="">Live username availability checking using Ajax jQuery PHP and password strength indicator</a></h1>
    Already exist usernames are superuser, metauser, googler, asif18. Type any other names exclude these username to get 'Available' result.
    <br/><br/>
	<table class="mytable">
    <tr>
    	<td class="talign_right">Username</td>
        <td><input type="text" name="username" id="username" /></td>
        <td><div class="username_avail_result" id="username_avail_result"></div></td>
    </tr>
    <tr>
    	<td class="talign_right">Password</td>
        <td><input type="text" name="password" id="password" /></td>
        <td><div class="password_strength" id="password_strength"></div></td>
    </tr>
	
	<tr>
    	<td class="talign_right">Email</td>
        <td><input type="text" name="email" id="email" /></td>
        <td><div class="email_avail_result" id="email_avail_result"></div></td>
    </tr>
    </table>
</div>

<div ng-app="validationApp" ng-controller="mainController">
	<form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate >

        <!-- NAME -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
            <label>Name*</label>
            <input type="text" name="name" class="form-control" ng-model="user.name" required>
            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
        </div>
        
        <!-- USERNAME -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
            <label>Username</label>
            <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
            <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
            <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
        </div>
            
        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="user.email" id="email">
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block" id="email_avail_result">Enter a valid email.</p>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>
</div>

</body>
</html>